In [1]:
 #step1:#importing required packages
import pandas as pd

In [2]:
#Mystics Of Machine Learning
#many blackboxes 
#some revealed but some not

#step2:loading data and create a dataframe having our data
#loading data
back_orders_data=pd.read_csv("BackOrders.csv")

#step3: creating a list with all columns of dataframe
back_orders_data_col=back_orders_data.columns.tolist()

In [3]:
type(back_orders_data)

pandas.core.frame.DataFrame

In [4]:
back_orders_data_col

['sku',
 'national_inv',
 'lead_time',
 'in_transit_qty',
 'forecast_3_month',
 'forecast_6_month',
 'forecast_9_month',
 'sales_1_month',
 'sales_3_month',
 'sales_6_month',
 'sales_9_month',
 'min_bank',
 'potential_issue',
 'pieces_past_due',
 'perf_6_month_avg',
 'perf_12_month_avg',
 'local_bo_qty',
 'deck_risk',
 'oe_constraint',
 'ppap_risk',
 'stop_auto_buy',
 'rev_stop',
 'went_on_backorder']

In [5]:
back_orders_data.head()

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,1888279,117,NaN,0,0,0,0,0,0,15,...,0,-99.00,-99.00,0,No,No,Yes,Yes,No,No
1,1870557,7,2.0,0,0,0,0,0,0,0,...,0,0.50,0.28,0,Yes,No,No,Yes,No,No
2,1475481,258,15.0,10,10,77,184,46,132,256,...,0,0.54,0.70,0,No,No,No,Yes,No,No
3,1758220,46,2.0,0,0,0,0,1,2,6,...,0,0.75,0.90,0,Yes,No,No,Yes,No,No
4,1360312,2,2.0,0,4,6,10,2,2,5,...,0,0.97,0.92,0,No,No,No,Yes,No,No

In [6]:
back_orders_data['went_on_backorder']

0         No
1         No
2         No
3         No
4         No
        ...
61584     No
61585     No
61586     No
61587    Yes
61588    Yes
Name: went_on_backorder, Length: 61589, dtype: object

In [7]:
#step4: create separate series for target variable
#dependent variable: 'went_on_backorder'
target_variable=back_orders_data['went_on_backorder']

#step5: create separate series for unique_id variable
#unique_id
Unique_ID=back_orders_data['sku']

In [8]:
type(target_variable)

#when we select single column from a dataframe, we get series

pandas.core.series.Series

In [9]:
target_variable

0         No
1         No
2         No
3         No
4         No
        ...
61584     No
61585     No
61586     No
61587    Yes
61588    Yes
Name: went_on_backorder, Length: 61589, dtype: object

In [10]:
back_orders_data.head()

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,1888279,117,NaN,0,0,0,0,0,0,15,...,0,-99.00,-99.00,0,No,No,Yes,Yes,No,No
1,1870557,7,2.0,0,0,0,0,0,0,0,...,0,0.50,0.28,0,Yes,No,No,Yes,No,No
2,1475481,258,15.0,10,10,77,184,46,132,256,...,0,0.54,0.70,0,No,No,No,Yes,No,No
3,1758220,46,2.0,0,0,0,0,1,2,6,...,0,0.75,0.90,0,Yes,No,No,Yes,No,No
4,1360312,2,2.0,0,4,6,10,2,2,5,...,0,0.97,0.92,0,No,No,No,Yes,No,No

In [11]:
#removing unique_id from dataframe created

#original Dataframe(data): U_id,X_1,X_2,X_3,...X_9,Y

#step6: remove unique_id from our dataframe

back_orders_data=back_orders_data.drop('sku',axis=1)


#original Dataframe: X_1,X_2,X_3,...X_9,Y

In [12]:
back_orders_data.head()

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,117,NaN,0,0,0,0,0,0,15,15,...,0,-99.00,-99.00,0,No,No,Yes,Yes,No,No
1,7,2.0,0,0,0,0,0,0,0,0,...,0,0.50,0.28,0,Yes,No,No,Yes,No,No
2,258,15.0,10,10,77,184,46,132,256,365,...,0,0.54,0.70,0,No,No,No,Yes,No,No
3,46,2.0,0,0,0,0,1,2,6,9,...,0,0.75,0.90,0,Yes,No,No,Yes,No,No
4,2,2.0,0,4,6,10,2,2,5,6,...,0,0.97,0.92,0,No,No,No,Yes,No,No

In [13]:
#step7: remove target variable from our dataframe

#X_1,X_2,X_3,...X_9,Y

back_orders_data=back_orders_data.drop('went_on_backorder',axis=1)

#X_1,X_2,X_3,...X_9

In [14]:
back_orders_data.head()

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,potential_issue,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop
0,117,NaN,0,0,0,0,0,0,15,15,...,No,0,-99.00,-99.00,0,No,No,Yes,Yes,No
1,7,2.0,0,0,0,0,0,0,0,0,...,No,0,0.50,0.28,0,Yes,No,No,Yes,No
2,258,15.0,10,10,77,184,46,132,256,365,...,No,0,0.54,0.70,0,No,No,No,Yes,No
3,46,2.0,0,0,0,0,1,2,6,9,...,No,0,0.75,0.90,0,Yes,No,No,Yes,No
4,2,2.0,0,4,6,10,2,2,5,6,...,No,0,0.97,0.92,0,No,No,No,Yes,No

In [15]:
back_orders_data.columns

Index(['national_inv', 'lead_time', 'in_transit_qty', 'forecast_3_month',
       'forecast_6_month', 'forecast_9_month', 'sales_1_month',
       'sales_3_month', 'sales_6_month', 'sales_9_month', 'min_bank',
       'potential_issue', 'pieces_past_due', 'perf_6_month_avg',
       'perf_12_month_avg', 'local_bo_qty', 'deck_risk', 'oe_constraint',
       'ppap_risk', 'stop_auto_buy', 'rev_stop'],
      dtype='object')

In [16]:
back_orders_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61589 entries, 0 to 61588
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   national_inv       61589 non-null  int64
 1   lead_time          58186 non-null  float64
 2   in_transit_qty     61589 non-null  int64
 3   forecast_3_month   61589 non-null  int64
 4   forecast_6_month   61589 non-null  int64
 5   forecast_9_month   61589 non-null  int64
 6   sales_1_month      61589 non-null  int64
 7   sales_3_month      61589 non-null  int64
 8   sales_6_month      61589 non-null  int64
 9   sales_9_month      61589 non-null  int64
 10  min_bank           61589 non-null  int64
 11  potential_issue    61589 non-null  object
 12  pieces_past_due    61589 non-null  int64
 13  perf_6_month_avg   61589 non-null  float64
 14  perf_12_month_avg  61589 non-null  float64
 15  local_bo_qty       61589 non-null  int64
 16  deck_risk          61589 non-null  object
 17  oe_constraint      61589 non-null  object
 18  ppap_risk          61589 non-null  object
 19  stop_auto_buy      61589 non-null  object
 20  rev_stop           61589 non-null  object
dtypes: float64(3), int64(12), object(6)
memory usage: 9.9+ MB

In [17]:
#continous features .... numerical.... int64.. float 64
#categorical features..... object

#select_dtypes(include=['int64','float64'])

In [18]:
#object datatype in pandas has text or string data
#float64 datatype in pandas has numerical with decimal values
#int64 datatype in pandas has numerical without decimal values

#Numerical columns: float64 and int64
#categorical columns: object

In [19]:
back_orders_data.head()

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,potential_issue,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop
0,117,NaN,0,0,0,0,0,0,15,15,...,No,0,-99.00,-99.00,0,No,No,Yes,Yes,No
1,7,2.0,0,0,0,0,0,0,0,0,...,No,0,0.50,0.28,0,Yes,No,No,Yes,No
2,258,15.0,10,10,77,184,46,132,256,365,...,No,0,0.54,0.70,0,No,No,No,Yes,No
3,46,2.0,0,0,0,0,1,2,6,9,...,No,0,0.75,0.90,0,Yes,No,No,Yes,No
4,2,2.0,0,4,6,10,2,2,5,6,...,No,0,0.97,0.92,0,No,No,No,Yes,No

In [20]:
#divide my data to numerical dataframe and categorical dataframe

#step8: create separate numerical dataframe for numerical columns inclusing both float64 and int64 datatypes

back_orders_data_num=back_orders_data.select_dtypes(include=['float64','int64'])

back_orders_data_num_col=back_orders_data_num.columns.tolist()

In [21]:
type(back_orders_data_num)

pandas.core.frame.DataFrame

In [22]:
back_orders_data_num.head()

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,min_bank,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty
0,117,NaN,0,0,0,0,0,0,15,15,1,0,-99.00,-99.00,0
1,7,2.0,0,0,0,0,0,0,0,0,0,0,0.50,0.28,0
2,258,15.0,10,10,77,184,46,132,256,365,47,0,0.54,0.70,0
3,46,2.0,0,0,0,0,1,2,6,9,1,0,0.75,0.90,0
4,2,2.0,0,4,6,10,2,2,5,6,0,0,0.97,0.92,0

In [23]:
#step9: create separate categorical dataframe for categorical columns including object datatype

back_orders_data_cat=back_orders_data.select_dtypes(include=['object'])

back_orders_data_cat_col=back_orders_data_cat.columns.tolist()

In [24]:
back_orders_data_cat.head()

  potential_issue deck_risk oe_constraint ppap_risk stop_auto_buy rev_stop
0              No        No            No       Yes           Yes       No
1              No       Yes            No        No           Yes       No
2              No        No            No        No           Yes       No
3              No       Yes            No        No           Yes       No
4              No        No            No        No           Yes       No

In [25]:
#step10: 

#blackbox imputations
def show_missing(data):
    missing=data.columns[data.isnull().any()].tolist()
    return missing

missing_col_num=show_missing(back_orders_data_num)

#count of missing records
missing_count_num=back_orders_data_num[missing_col_num].isnull().sum()


#Identification of columns with missing values and thier counts

#impute them.... using central tendancy values

In [26]:
back_orders_data_num.columns

Index(['national_inv', 'lead_time', 'in_transit_qty', 'forecast_3_month',
       'forecast_6_month', 'forecast_9_month', 'sales_1_month',
       'sales_3_month', 'sales_6_month', 'sales_9_month', 'min_bank',
       'pieces_past_due', 'perf_6_month_avg', 'perf_12_month_avg',
       'local_bo_qty'],
      dtype='object')

In [27]:
#step 10 : identify columns with  missing values
missing_col_num

#what all numerical columns are having  missing values

['lead_time']

In [28]:
#step 11 : identify missing values count in that columns
missing_count_num

#how many missing values in that particular column

lead_time    3403
dtype: int64

In [29]:
back_orders_data_num['lead_time'].median()

8.0

In [30]:
back_orders_data_num['lead_time'].mean()

7.559619152373423

In [31]:
#unravelling Blackbox

#missing=data.columns[data.isnull().any()].tolist()

In [32]:
back_orders_data_num.head()

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,min_bank,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty
0,117,NaN,0,0,0,0,0,0,15,15,1,0,-99.00,-99.00,0
1,7,2.0,0,0,0,0,0,0,0,0,0,0,0.50,0.28,0
2,258,15.0,10,10,77,184,46,132,256,365,47,0,0.54,0.70,0
3,46,2.0,0,0,0,0,1,2,6,9,1,0,0.75,0.90,0
4,2,2.0,0,4,6,10,2,2,5,6,0,0,0.97,0.92,0

In [33]:
back_orders_data_num.isnull()

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,min_bank,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty
0,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61584,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
61585,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
61586,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
61587,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
61588,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [34]:
#masked dataframe

In [35]:
back_orders_data_num.isnull().any()

national_inv         False
lead_time             True
in_transit_qty       False
forecast_3_month     False
forecast_6_month     False
forecast_9_month     False
sales_1_month        False
sales_3_month        False
sales_6_month        False
sales_9_month        False
min_bank             False
pieces_past_due      False
perf_6_month_avg     False
perf_12_month_avg    False
local_bo_qty         False
dtype: bool

In [36]:
back_orders_data_num.columns

Index(['national_inv', 'lead_time', 'in_transit_qty', 'forecast_3_month',
       'forecast_6_month', 'forecast_9_month', 'sales_1_month',
       'sales_3_month', 'sales_6_month', 'sales_9_month', 'min_bank',
       'pieces_past_due', 'perf_6_month_avg', 'perf_12_month_avg',
       'local_bo_qty'],
      dtype='object')

In [37]:
back_orders_data_num.columns[back_orders_data_num.isnull().any()] #filtering

Index(['lead_time'], dtype='object')

In [38]:
back_orders_data_num.columns[back_orders_data_num.isnull().any()].tolist()

['lead_time']

In [39]:
back_orders_data_num['lead_time'].isnull()

0         True
1        False
2        False
3        False
4        False
         ...
61584    False
61585    False
61586    False
61587     True
61588    False
Name: lead_time, Length: 61589, dtype: bool

In [40]:
back_orders_data_num['lead_time'].isnull().sum()

3403

In [41]:
missing_col_num=back_orders_data_num.columns[back_orders_data_num.isnull().any()].tolist()

In [42]:
back_orders_data_num[missing_col_num].isnull().sum()

lead_time    3403
dtype: int64

In [43]:
#Imputations blackbox

#step12: imputing with strategy for filling the missing values

from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='median') 

back_orders_data_num_after_impute=imputer.fit_transform(back_orders_data_num)

back_orders_data_num_after_impute_df=pd.DataFrame(back_orders_data_num_after_impute,columns=back_orders_data_num_col)

In [44]:
type(back_orders_data_num_after_impute)

numpy.ndarray

In [45]:
back_orders_data_num_after_impute

array([[117.  ,   8.  ,   0.  , ..., -99.  , -99.  ,   0.  ],
       [  7.  ,   2.  ,   0.  , ...,   0.5 ,   0.28,   0.  ],
       [258.  ,  15.  ,  10.  , ...,   0.54,   0.7 ,   0.  ],
       ...,
       [135.  ,   9.  ,   0.  , ...,   1.  ,   0.99,   0.  ],
       [ 63.  ,   8.  ,   0.  , ..., -99.  , -99.  ,   1.  ],
       [  0.  ,   2.  ,   0.  , ...,   0.79,   0.78,   0.  ]])

In [46]:
#before imputation
missing_col_num_bf=show_missing(back_orders_data_num)

In [47]:
missing_col_num_bf

['lead_time']

In [48]:
#after imputation
missing_col_num=show_missing(back_orders_data_num_after_impute_df)

In [49]:
#step12: again recheck is there any column with missing values
missing_col_num

[]

back_orders_data_cat=back_orders_data_cat.drop(['Name','Seating_Location'],axis=1)

In [50]:
back_orders_data_cat.head()

  potential_issue deck_risk oe_constraint ppap_risk stop_auto_buy rev_stop
0              No        No            No       Yes           Yes       No
1              No       Yes            No        No           Yes       No
2              No        No            No        No           Yes       No
3              No       Yes            No        No           Yes       No
4              No        No            No        No           Yes       No

In [51]:
#blackbox encodings

#step13 create label encoded dummy variable 
from sklearn.preprocessing import LabelEncoder
encoder= LabelEncoder()

back_orders_data_cat['potential_issue_Cat'] = encoder.fit_transform(back_orders_data_cat['potential_issue'])
back_orders_data_cat['deck_risk_Cat'] = encoder.fit_transform(back_orders_data_cat['deck_risk'])
back_orders_data_cat['oe_constraint_Cat'] = encoder.fit_transform(back_orders_data_cat['oe_constraint'])
back_orders_data_cat['ppap_risk_Cat'] = encoder.fit_transform(back_orders_data_cat['ppap_risk'])
back_orders_data_cat['stop_auto_buy_Cat'] = encoder.fit_transform(back_orders_data_cat['stop_auto_buy'])
back_orders_data_cat['rev_stop_Cat'] = encoder.fit_transform(back_orders_data_cat['rev_stop'])

C:\Users\bhava\AppData\Local\Temp/ipykernel_5764/1299014832.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  back_orders_data_cat['potential_issue_Cat'] = encoder.fit_transform(back_orders_data_cat['potential_issue'])
C:\Users\bhava\AppData\Local\Temp/ipykernel_5764/1299014832.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  back_orders_data_cat['deck_risk_Cat'] = encoder.fit_transform(back_orders_data_cat['deck_risk'])
C:\Users\bhava\AppData\Local\Temp/ipykernel_5764/1299014832.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  back_orders_data_cat['oe_constraint_Cat'] = encoder.fit_transform(back_orders_data_cat['oe_constraint'])
C:\Users\bhava\AppData\Local\Temp/ipykernel_5764/1299014832.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  back_orders_data_cat['ppap_risk_Cat'] = encoder.fit_transform(back_orders_data_cat['ppap_risk'])
C:\Users\bhava\AppData\Local\Temp/ipykernel_5764/1299014832.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  back_orders_data_cat['stop_auto_buy_Cat'] = encoder.fit_transform(back_orders_data_cat['stop_auto_buy'])
C:\Users\bhava\AppData\Local\Temp/ipykernel_5764/1299014832.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  back_orders_data_cat['rev_stop_Cat'] = encoder.fit_transform(back_orders_data_cat['rev_stop'])

In [52]:
target_variable_cat=encoder.fit_transform(target_variable)

In [53]:
back_orders_data_cat.head()

,potential_issue,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,potential_issue_Cat,deck_risk_Cat,oe_constraint_Cat,ppap_risk_Cat,stop_auto_buy_Cat,rev_stop_Cat
0,No,No,No,Yes,Yes,No,0,0,0,1,1,0
1,No,Yes,No,No,Yes,No,0,1,0,0,1,0
2,No,No,No,No,Yes,No,0,0,0,0,1,0
3,No,Yes,No,No,Yes,No,0,1,0,0,1,0
4,No,No,No,No,Yes,No,0,0,0,0,1,0

In [54]:
#step14: drop or remove original categorical variables 
back_orders_data_cat=back_orders_data_cat.drop(['potential_issue','deck_risk','oe_constraint','ppap_risk','stop_auto_buy','rev_stop'],axis=1)

In [55]:
back_orders_data_cat.head()

,potential_issue_Cat,deck_risk_Cat,oe_constraint_Cat,ppap_risk_Cat,stop_auto_buy_Cat,rev_stop_Cat
0,0,0,0,1,1,0
1,0,1,0,0,1,0
2,0,0,0,0,1,0
3,0,1,0,0,1,0
4,0,0,0,0,1,0

In [56]:
back_orders_data_num_after_impute_df.head()

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,min_bank,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty
0,117.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0,15.0,1.0,0.0,-99.00,-99.00,0.0
1,7.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.50,0.28,0.0
2,258.0,15.0,10.0,10.0,77.0,184.0,46.0,132.0,256.0,365.0,47.0,0.0,0.54,0.70,0.0
3,46.0,2.0,0.0,0.0,0.0,0.0,1.0,2.0,6.0,9.0,1.0,0.0,0.75,0.90,0.0
4,2.0,2.0,0.0,4.0,6.0,10.0,2.0,2.0,5.0,6.0,0.0,0.0,0.97,0.92,0.0

In [57]:
#lets assume we did all the preprocesings for both categorical and numerical dataframes

In [58]:
total_data=pd.concat([back_orders_data_num_after_impute_df,back_orders_data_cat],axis=1)

In [59]:
total_data.head()

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,potential_issue_Cat,deck_risk_Cat,oe_constraint_Cat,ppap_risk_Cat,stop_auto_buy_Cat,rev_stop_Cat
0,117.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0,15.0,...,0.0,-99.00,-99.00,0.0,0,0,0,1,1,0
1,7.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.50,0.28,0.0,0,1,0,0,1,0
2,258.0,15.0,10.0,10.0,77.0,184.0,46.0,132.0,256.0,365.0,...,0.0,0.54,0.70,0.0,0,0,0,0,1,0
3,46.0,2.0,0.0,0.0,0.0,0.0,1.0,2.0,6.0,9.0,...,0.0,0.75,0.90,0.0,0,1,0,0,1,0
4,2.0,2.0,0.0,4.0,6.0,10.0,2.0,2.0,5.0,6.0,...,0.0,0.97,0.92,0.0,0,0,0,0,1,0

In [60]:
total_data.shape

(61589, 21)

In [61]:
#target_variable

In [62]:
#blackbox splitting data
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(total_data, target_variable_cat, test_size=0.25, random_state=42)

In [63]:
#x_train.to_csv('check_1.csv')

In [64]:
total_data

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,potential_issue_Cat,deck_risk_Cat,oe_constraint_Cat,ppap_risk_Cat,stop_auto_buy_Cat,rev_stop_Cat
0,117.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0,15.0,...,0.0,-99.00,-99.00,0.0,0,0,0,1,1,0
1,7.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.50,0.28,0.0,0,1,0,0,1,0
2,258.0,15.0,10.0,10.0,77.0,184.0,46.0,132.0,256.0,365.0,...,0.0,0.54,0.70,0.0,0,0,0,0,1,0
3,46.0,2.0,0.0,0.0,0.0,0.0,1.0,2.0,6.0,9.0,...,0.0,0.75,0.90,0.0,0,1,0,0,1,0
4,2.0,2.0,0.0,4.0,6.0,10.0,2.0,2.0,5.0,6.0,...,0.0,0.97,0.92,0.0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61584,6.0,8.0,0.0,24.0,24.0,24.0,0.0,7.0,9.0,12.0,...,0.0,0.98,0.98,0.0,0,0,0,0,1,0
61585,130.0,2.0,0.0,40.0,80.0,140.0,18.0,108.0,230.0,317.0,...,0.0,0.51,0.28,0.0,0,0,0,0,1,0
61586,135.0,9.0,0.0,0.0,0.0,0.0,10.0,40.0,65.0,89.0,...,0.0,1.00,0.99,0.0,0,0,0,1,1,0
61587,63.0,8.0,0.0,0.0,0.0,0.0,452.0,1715.0,3425.0,4864.0,...,0.0,-99.00,-99.00,1.0,0,0,0,0,0,0
61588,0.0,2.0,0.0,8.0,8.0,8.0,0.0,1.0,1.0,1.0,...,0.0,0.79,0.78,0.0,0,1,0,0,1,0

In [65]:
x_train.head(5)

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,potential_issue_Cat,deck_risk_Cat,oe_constraint_Cat,ppap_risk_Cat,stop_auto_buy_Cat,rev_stop_Cat
45537,8.0,8.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,10.0,...,0.0,0.78,0.83,0.0,0,1,0,0,1,0
34224,18.0,3.0,0.0,0.0,0.0,0.0,4.0,4.0,4.0,4.0,...,0.0,0.98,0.98,0.0,0,0,0,0,1,0
46945,12.0,8.0,8.0,5.0,15.0,25.0,7.0,22.0,36.0,55.0,...,0.0,0.85,0.80,0.0,0,0,0,0,1,0
5994,7.0,12.0,0.0,2.0,2.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.48,0.48,0.0,0,1,0,0,1,0
18143,9.0,2.0,0.0,35.0,63.0,77.0,10.0,26.0,36.0,86.0,...,0.0,0.97,0.93,0.0,0,0,0,0,1,0

In [66]:
x_train.shape

(46191, 21)

In [67]:
x_test

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,potential_issue_Cat,deck_risk_Cat,oe_constraint_Cat,ppap_risk_Cat,stop_auto_buy_Cat,rev_stop_Cat
4878,14.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.0,8.0,...,0.0,0.00,0.00,0.0,0,0,0,1,0,0
58285,2.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,...,0.0,-99.00,-99.00,0.0,0,1,0,0,1,0
20109,81.0,2.0,0.0,0.0,29.0,58.0,14.0,30.0,63.0,111.0,...,0.0,0.96,0.96,0.0,0,0,0,0,1,0
11670,-10.0,8.0,0.0,27.0,36.0,45.0,5.0,11.0,23.0,32.0,...,0.0,0.77,0.76,10.0,0,0,0,0,1,0
54242,18.0,2.0,0.0,0.0,0.0,0.0,1.0,4.0,6.0,6.0,...,0.0,0.99,0.99,0.0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35269,12.0,8.0,2.0,12.0,24.0,39.0,6.0,13.0,30.0,47.0,...,0.0,0.90,0.92,0.0,0,0,0,0,1,0
39816,15.0,4.0,0.0,0.0,0.0,0.0,2.0,5.0,9.0,16.0,...,0.0,0.73,0.78,0.0,0,0,0,0,1,0
45622,53.0,2.0,1.0,40.0,80.0,120.0,15.0,37.0,89.0,156.0,...,0.0,0.90,0.92,0.0,0,0,0,0,1,0
61109,101.0,8.0,3.0,512.0,938.0,1456.0,152.0,476.0,982.0,1360.0,...,2.0,0.59,0.62,1.0,0,0,0,0,1,0
43337,6.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,0,1,0,0,1,0

In [68]:
x_test.shape

(15398, 21)

In [69]:
y_train

array([0, 0, 0, ..., 0, 1, 0])

In [70]:
y_test

array([0, 0, 0, ..., 0, 1, 0])

In [71]:
#x_train, y_train...... training data.... 75% data

#x_test,  y_test

In [72]:
x_train.columns

Index(['national_inv', 'lead_time', 'in_transit_qty', 'forecast_3_month',
       'forecast_6_month', 'forecast_9_month', 'sales_1_month',
       'sales_3_month', 'sales_6_month', 'sales_9_month', 'min_bank',
       'pieces_past_due', 'perf_6_month_avg', 'perf_12_month_avg',
       'local_bo_qty', 'potential_issue_Cat', 'deck_risk_Cat',
       'oe_constraint_Cat', 'ppap_risk_Cat', 'stop_auto_buy_Cat',
       'rev_stop_Cat'],
      dtype='object')

In [73]:
x_train.shape[1]

21

In [74]:
#balck box features selection
#recursive feature elimination technique
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestClassifier
RF=RandomForestClassifier(random_state=42)

rfe_RF=RFE(RF,n_features_to_select=18,verbose=21)

rfe_RF.fit(x_train,y_train)
names=x_train.columns.tolist()
b=rfe_RF.ranking_

#RFE: Recursive Feature Elimination is corresponding to Machine Learning Model.
#ranking is a attribute

a=pd.DataFrame(sorted(list(map(lambda x,y: (x,y),b,names))),columns=['rank','features'])
a.to_csv('feature_selection.csv')

RFE_selected=a['features'][a['rank']==1]

Fitting estimator with 21 features.
Fitting estimator with 20 features.
Fitting estimator with 19 features.

In [75]:
RFE_selected

0         deck_risk_Cat
1      forecast_3_month
2      forecast_6_month
3      forecast_9_month
4        in_transit_qty
5             lead_time
6          local_bo_qty
7              min_bank
8          national_inv
9     perf_12_month_avg
10     perf_6_month_avg
11      pieces_past_due
12        ppap_risk_Cat
13        sales_1_month
14        sales_3_month
15        sales_6_month
16        sales_9_month
17    stop_auto_buy_Cat
Name: features, dtype: object

In [76]:
x_train.head()

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,potential_issue_Cat,deck_risk_Cat,oe_constraint_Cat,ppap_risk_Cat,stop_auto_buy_Cat,rev_stop_Cat
45537,8.0,8.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,10.0,...,0.0,0.78,0.83,0.0,0,1,0,0,1,0
34224,18.0,3.0,0.0,0.0,0.0,0.0,4.0,4.0,4.0,4.0,...,0.0,0.98,0.98,0.0,0,0,0,0,1,0
46945,12.0,8.0,8.0,5.0,15.0,25.0,7.0,22.0,36.0,55.0,...,0.0,0.85,0.80,0.0,0,0,0,0,1,0
5994,7.0,12.0,0.0,2.0,2.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.48,0.48,0.0,0,1,0,0,1,0
18143,9.0,2.0,0.0,35.0,63.0,77.0,10.0,26.0,36.0,86.0,...,0.0,0.97,0.93,0.0,0,0,0,0,1,0

In [77]:
x_test.head()

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,potential_issue_Cat,deck_risk_Cat,oe_constraint_Cat,ppap_risk_Cat,stop_auto_buy_Cat,rev_stop_Cat
4878,14.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.0,8.0,...,0.0,0.00,0.00,0.0,0,0,0,1,0,0
58285,2.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,...,0.0,-99.00,-99.00,0.0,0,1,0,0,1,0
20109,81.0,2.0,0.0,0.0,29.0,58.0,14.0,30.0,63.0,111.0,...,0.0,0.96,0.96,0.0,0,0,0,0,1,0
11670,-10.0,8.0,0.0,27.0,36.0,45.0,5.0,11.0,23.0,32.0,...,0.0,0.77,0.76,10.0,0,0,0,0,1,0
54242,18.0,2.0,0.0,0.0,0.0,0.0,1.0,4.0,6.0,6.0,...,0.0,0.99,0.99,0.0,0,1,0,0,1,0

In [78]:
x_train=x_train[RFE_selected]

In [79]:
x_test=x_test[RFE_selected]

In [80]:
x_train.head()

,deck_risk_Cat,forecast_3_month,forecast_6_month,forecast_9_month,in_transit_qty,lead_time,local_bo_qty,min_bank,national_inv,perf_12_month_avg,perf_6_month_avg,pieces_past_due,ppap_risk_Cat,sales_1_month,sales_3_month,sales_6_month,sales_9_month,stop_auto_buy_Cat
45537,1,0.0,0.0,0.0,0.0,8.0,0.0,1.0,8.0,0.83,0.78,0.0,0,0.0,2.0,3.0,10.0,1
34224,0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,18.0,0.98,0.98,0.0,0,4.0,4.0,4.0,4.0,1
46945,0,5.0,15.0,25.0,8.0,8.0,0.0,2.0,12.0,0.80,0.85,0.0,0,7.0,22.0,36.0,55.0,1
5994,1,2.0,2.0,2.0,0.0,12.0,0.0,1.0,7.0,0.48,0.48,0.0,0,0.0,0.0,0.0,0.0,1
18143,0,35.0,63.0,77.0,0.0,2.0,0.0,0.0,9.0,0.93,0.97,0.0,0,10.0,26.0,36.0,86.0,1

In [81]:
x_test.head()

,deck_risk_Cat,forecast_3_month,forecast_6_month,forecast_9_month,in_transit_qty,lead_time,local_bo_qty,min_bank,national_inv,perf_12_month_avg,perf_6_month_avg,pieces_past_due,ppap_risk_Cat,sales_1_month,sales_3_month,sales_6_month,sales_9_month,stop_auto_buy_Cat
4878,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,14.0,0.00,0.00,0.0,1,0.0,1.0,4.0,8.0,0
58285,1,0.0,0.0,0.0,0.0,8.0,0.0,0.0,2.0,-99.00,-99.00,0.0,0,0.0,0.0,1.0,3.0,1
20109,0,0.0,29.0,58.0,0.0,2.0,0.0,18.0,81.0,0.96,0.96,0.0,0,14.0,30.0,63.0,111.0,1
11670,0,27.0,36.0,45.0,0.0,8.0,10.0,15.0,-10.0,0.76,0.77,0.0,0,5.0,11.0,23.0,32.0,1
54242,1,0.0,0.0,0.0,0.0,2.0,0.0,0.0,18.0,0.99,0.99,0.0,0,1.0,4.0,6.0,6.0,1

In [82]:
#black box Machine Learning model defualt models

#from sklearn.ensemble import RandomForestClassifier
#RF_model=RandomForestClassifier()
#RF_model.fit(x_train,y_train)

#the training of model is done..... it learnt from the data.... what to do what not to do..... 
#it understood who are more successful and who are not

In [83]:
#black box Machine Learning model

from sklearn.ensemble import RandomForestClassifier
RF_model=RandomForestClassifier(max_depth=3, max_features=0.6, min_samples_leaf=4,n_estimators=9)
RF_model.fit(x_train,y_train)

#the training of model is done..... it learnt from the data.... what to do what not to do..... 
#it understood who are more successful and who are not

RandomForestClassifier(max_depth=3, max_features=0.6, min_samples_leaf=4,
                       n_estimators=9)

In [84]:
RF_model

RandomForestClassifier(max_depth=3, max_features=0.6, min_samples_leaf=4,
                       n_estimators=9)

In [85]:
type(RF_model)

sklearn.ensemble._forest.RandomForestClassifier

In [86]:
#from sklearn.ensemble import RandomForestClassifier
#RF_model=RandomForestClassifier(n_estimators=1000)
#RF_model.fit(x_train,y_train)

In [87]:
#model training is done

In [88]:
# in training process, x_train and y_train participated.... so model has seen this data and it learnt from it. 

#but model did not see test data(25%)

In [89]:
x_test.head()

,deck_risk_Cat,forecast_3_month,forecast_6_month,forecast_9_month,in_transit_qty,lead_time,local_bo_qty,min_bank,national_inv,perf_12_month_avg,perf_6_month_avg,pieces_past_due,ppap_risk_Cat,sales_1_month,sales_3_month,sales_6_month,sales_9_month,stop_auto_buy_Cat
4878,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,14.0,0.00,0.00,0.0,1,0.0,1.0,4.0,8.0,0
58285,1,0.0,0.0,0.0,0.0,8.0,0.0,0.0,2.0,-99.00,-99.00,0.0,0,0.0,0.0,1.0,3.0,1
20109,0,0.0,29.0,58.0,0.0,2.0,0.0,18.0,81.0,0.96,0.96,0.0,0,14.0,30.0,63.0,111.0,1
11670,0,27.0,36.0,45.0,0.0,8.0,10.0,15.0,-10.0,0.76,0.77,0.0,0,5.0,11.0,23.0,32.0,1
54242,1,0.0,0.0,0.0,0.0,2.0,0.0,0.0,18.0,0.99,0.99,0.0,0,1.0,4.0,6.0,6.0,1

In [90]:
y_test

array([0, 0, 0, ..., 0, 1, 0])

In [91]:
#x_test,y_test

#test data

In [92]:
y_test #(True Values) #ground truth

array([0, 0, 0, ..., 0, 1, 0])

In [93]:
pred=RF_model.predict(x_test)

#this model knows nothing about x_test 

#we make predictions on test data

In [94]:
pred #predicted values #coming from the Model

array([0, 0, 0, ..., 0, 0, 0])

In [95]:
#predicted values #true values     evaluate

In [96]:
out_data=pd.DataFrame({'true':y_test,'model_predicted':pred})

In [97]:
out_data.to_csv('my_first_predictions_analysis.csv')

In [98]:
preds=RF_model.predict(x_test)

In [99]:
#black box Evaluation metrics
from sklearn.metrics import accuracy_score
accuracy_test=accuracy_score(y_test, preds)

In [100]:
accuracy_test

0.8743343291336537

In [101]:
#Model evaulation metrics

In [102]:
#hyperparameters.....

#max_depth,max_features,n_estimators,criterion

In [103]:
from sklearn.model_selection import GridSearchCV

In [104]:
x_train.head()

,deck_risk_Cat,forecast_3_month,forecast_6_month,forecast_9_month,in_transit_qty,lead_time,local_bo_qty,min_bank,national_inv,perf_12_month_avg,perf_6_month_avg,pieces_past_due,ppap_risk_Cat,sales_1_month,sales_3_month,sales_6_month,sales_9_month,stop_auto_buy_Cat
45537,1,0.0,0.0,0.0,0.0,8.0,0.0,1.0,8.0,0.83,0.78,0.0,0,0.0,2.0,3.0,10.0,1
34224,0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,18.0,0.98,0.98,0.0,0,4.0,4.0,4.0,4.0,1
46945,0,5.0,15.0,25.0,8.0,8.0,0.0,2.0,12.0,0.80,0.85,0.0,0,7.0,22.0,36.0,55.0,1
5994,1,2.0,2.0,2.0,0.0,12.0,0.0,1.0,7.0,0.48,0.48,0.0,0,0.0,0.0,0.0,0.0,1
18143,0,35.0,63.0,77.0,0.0,2.0,0.0,0.0,9.0,0.93,0.97,0.0,0,10.0,26.0,36.0,86.0,1

In [105]:
#hyper parameter tuning
#set of parameters to test
param_grid = {"n_estimators" : [90, 180, 270, 360, 450, 540, 630],
              "max_depth" : [2,3,5,7],
              "min_samples_leaf" : [2, 4],
              "max_features" : [0.4,0.5,0.6]
             }

#Use the GridSearchCV
RF_model=RandomForestClassifier() #estimator
clf = GridSearchCV(RF_model, param_grid, cv=3)
clf.fit(x_train,y_train)
clf.best_estimator_

RandomForestClassifier(max_depth=7, max_features=0.5, min_samples_leaf=2,
                       n_estimators=90)

In [106]:
clf.best_estimator_

RandomForestClassifier(max_depth=7, max_features=0.5, min_samples_leaf=2,
                       n_estimators=90)

In [107]:
preds=clf.best_estimator_.predict(x_test)

#black box Evaluation metrics
from sklearn.metrics import accuracy_score
accuracy_test=accuracy_score(y_test, preds)

In [108]:
accuracy_test

0.9062865307182751

In [109]:
import pickle as pk

my_first_out=open('my_first_pickle_file_withRFE_RF_batch_2.pickle','wb')

pk.dump(clf.best_estimator_,my_first_out)

my_first_out.close()

In [110]:
#improving the model performance ..... Tuning the model..... hyper parameter tuning using grid search

In [111]:
RF_model=RandomForestClassifier(max_depth=3, max_features=0.6, min_samples_leaf=4,n_estimators=9)
RF_model.fit(x_train,y_train)
pred_probability=RF_model.predict_proba(x_test)


#black box Evaluation metrics
from sklearn.metrics import accuracy_score
accuracy_test=accuracy_score(y_test, preds)

train_preds=RF_model.predict(x_train)

accuracy_train=accuracy_score(y_train, train_preds)

#hyperparameter tuning.... Bias Variance trade off
#specific
#over fitting



#just For later sake
from sklearn.metrics import classification_report
target_names = ['Back Ordered', 'Not Back Ordered']
print(classification_report(y_test, preds, target_names=target_names))

                  precision    recall  f1-score   support

    Back Ordered       0.93      0.96      0.94     12597
Not Back Ordered       0.79      0.66      0.72      2801

        accuracy                           0.91     15398
       macro avg       0.86      0.81      0.83     15398
    weighted avg       0.90      0.91      0.90     15398

In [112]:
#with the values of hyperparameter tunning
RF_model=RandomForestClassifier(max_depth=7, max_features=0.5, min_samples_leaf=2,n_estimators=270)
RF_model.fit(x_train,y_train)
pred_probability=RF_model.predict_proba(x_test)


#black box Evaluation metrics
from sklearn.metrics import accuracy_score
accuracy_test=accuracy_score(y_test, preds)

train_preds=RF_model.predict(x_train)

accuracy_train=accuracy_score(y_train, train_preds)

#hyperparameter tuning.... Bias Variance trade off
#specific
#over fitting



#just For later sake
from sklearn.metrics import classification_report
target_names = ['Back Ordered', 'Not Back Ordered']
print(classification_report(y_test, preds, target_names=target_names))

                  precision    recall  f1-score   support

    Back Ordered       0.93      0.96      0.94     12597
Not Back Ordered       0.79      0.66      0.72      2801

        accuracy                           0.91     15398
       macro avg       0.86      0.81      0.83     15398
    weighted avg       0.90      0.91      0.90     15398

In [113]:
out_data=pd.DataFrame({'true':y_test,'model_predicted':pred})
out_data.to_csv('my_first_predictions_analysis(1).csv')